@font-face {
    font-family: 'politicaregular';
    src: url('../fonts/politica-webfont.eot');
    src: url('../fonts/politica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/politica-webfont.woff') format('woff'),
          url('../fonts/politica-webfont.svg#politicaregular') format('svg'),
         url('../fonts/politica-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'politicalight';
    src: url('../fonts/politica_light-webfont.eot');
    src: url('../fonts/politica_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/politica_light-webfont.woff') format('woff'),
         url('../fonts/politica_light-webfont.svg#politicalight') format('svg'),
         url('../fonts/politica_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'politicabold';
    src: url('../fonts/politica_bold-webfont.eot');
    src: url('../fonts/politica_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/politica_bold-webfont.woff') format('woff'),
         url('../fonts/politica_bold-webfont.svg#politicabold') format('svg'),
         url('../fonts/politica_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/calibri.eot');
    src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri.woff') format('woff'),
         url('../fonts/calibri.ttf') format('truetype'),
         url('../fonts/calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriBold';
    src: url('../fonts/calibrib.eot');
    src: url('../fonts/calibrib.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibrib.woff') format('woff'),
         url('../fonts/calibrib.ttf') format('truetype'),
         url('../fonts/calibrib.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriItalic';
    src: url('../fonts/calibrii.eot');
    src: url('../fonts/calibrii.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibrii.woff') format('woff'),
         url('../fonts/calibrii.ttf') format('truetype'),
         url('../fonts/calibrii.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriBoldItalic';
    src: url('../fonts/calibriz.eot');
    src: url('../fonts/calibriz.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibriz.woff') format('woff'),
         url('../fonts/calibriz.ttf') format('truetype'),
         url('../fonts/calibriz.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriLight';
    src: url('../fonts/calibri_light.eot');
    src: url('../fonts/calibri_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri_light.woff') format('woff'),
         url('../fonts/calibri_light.ttf') format('truetype'),
         url('../fonts/calibri_light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* =============================================================================
	BODY
	========================================================================== */
html{height: 100%;}
body {
	margin:0;
	color:#797979;
	font:14px/22px 'CalibriRegular', Arial, Helvetica, sans-serif;
	background:#fff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
	height: 100%;
	min-width: 980px;
}
/* =============================================================================
	HTML5
	========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio:not([controls]) {display:none;}
[hidden] {display:none;}
figure {margin:0;}
iframe {border:0;}
/* =============================================================================
	IMAGES
	========================================================================== */
img {border:0; -ms-interpolation-mode:bicubic; vertical-align:top;}
/* =============================================================================
	LINKS
	========================================================================== */
a {color:#2980b9; text-decoration:none; outline:none;}
a:hover {color:#2980b9; text-decoration:underline;}
a:focus {outline:none;}
a:hover, a:active {outline:0;}
a:active {background-color:transparent;}
/* =============================================================================
	SELECT TEXT
	========================================================================== */
::-moz-selection{background:#5f5f5f; color:#fff;}
::selection{background:#5f5f5f; color:#fff;}
/* =============================================================================
	FORMS
	========================================================================== */
form, fieldset {margin:0; padding:0; border-style:none;}
label {cursor:pointer;}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer; -webkit-appearance: none;}
input {outline:none;}
button[disabled], input[disabled] {cursor:default;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
button {padding:0}
input[type="checkbox"], input[type="radio"] {width:15px; height:16px; padding:0; margin:0;}
input, textarea, select {font:100% Arial, Helvetica, sans-serif; vertical-align:middle; color:#000;}
textarea {resize:vertical; margin:0; padding:0; overflow:auto; vertical-align:top; outline:none;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none; box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
input:-moz-placeholder {color:#000;}
input::-moz-placeholder {color:#000;opacity:1;}
input::-webkit-input-placeholder {color:#000;}
input:-ms-input-placeholder {color:#000;}
input::placeholder {color:#000;}
input:focus:-moz-placeholder {color:transparent;}
input:focus::-moz-placeholder {color:transparent;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-ms-input-placeholder {color:transparent;}
input:focus::placeholder {color:transparent;}
input::-ms-clear {display:none;}
/*Iphone Border Radius Fix*/
input {-webkit-border-radius:0;}
textarea {-webkit-border-radius:0;}
/* =============================================================================
	TABLES
	========================================================================== */
table, caption, tbody, tfoot, thead, tr, th, td {border-collapse:collapse; border-spacing:0;}
td {text-align:left; vertical-align:top;}
th {text-align:center; vertical-align:middle;}
/* =============================================================================
	QUOTES
	========================================================================== */
q {quotes:none;}
q:before {content:''}
q:after {content:''}
/* =============================================================================
	LISTS
	========================================================================== */
ul, ol {list-style:none; margin:0 0 10px; padding:0;}
dl {margin:0 0 10px;}
nav ul, nav ol {margin:0;}
ul li {list-style:none; list-style:none outside;}
/* =============================================================================
	SEMANTIC TAG
	========================================================================== */
h1 {font:36px/1.25 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif; margin:0 0 30px; color: #000;}
h2 {font:30px/1.25 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif; margin:0 0 28px; color: #000;}
h3 {font:24px/1.2 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif; margin:0 0 24px; color: #000;}
h4 {font:22px/1.2 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif; margin:0 0 18px; color: #000;}
h5 {font:20px/1.1 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif; margin:0 0 16px; color: #000;}
h6 {font:18px/1.1 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif; margin:0 0 14px; color: #000;}
blockquote {margin:0 0 10px;}
b, strong {font-weight:bold;}
sub, sup, small {font-size:75%;}
sub, sup {line-height:0; position:relative; vertical-align:baseline;}
sub {bottom:-0.25em;}
sup {top:-0.5em;}
svg:not(:root) {overflow:hidden;}
p {margin:0 0 22px;}
hr {display:block; height:1px; border:0; border-top:1px solid #ccc; margin:0; padding:0;}
*+html hr {margin:-7px 0;}
mark {background:#ff0;}
ins {text-decoration:none; background:#ff9;}
del {text-decoration:line-through;}
pre {white-space:pre; white-space:pre-wrap; word-wrap:break-word}
#bg {
    overflow: hidden;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
#bg img {position: absolute;}
/* =============================================================================
	MAIN
	========================================================================== */
#wrapper {
	width:100%;
	position: relative;
	overflow: hidden;
}
#wrapper.header-small{
	padding: 76px 0 0;
}
#header{width: 100%;}
.header-frame{
	padding: 25px 0 20px;
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}
.logo{
	display: block;
	margin: 0 auto 25px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/logo.png) no-repeat;
	width: 97px;
	height: 56px;
}
.logo a{
	display: block;
	height: 100%;
}
#nav{
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
}
#nav a{color: #fff;}
#nav a:hover,
#nav .active a{
	color: #7f7f7f;
	text-decoration: none;
}
#nav ul{
	margin: 0;
	display: inline-block;
	vertical-align: top;
}
#nav li{
	float: left;
	margin: 0 0 0 15px;
}
#nav li:first-child{margin: 0;}
.header-small #header{
	background: url(../images/bg-body-top.jpg) 50% 50% no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
}
.header-small #header .header-frame{
	margin: 0 auto 25px;
	padding: 25px 0 0;
}
.header-small .first-page{padding: 64px 0 0;}
.header-small #header .logo{
	background: url(../images/logo2.png) no-repeat;
	width: 36px;
	height: 30px;
	position: absolute;
	left: 50%;
	top: 17px;
	margin: 0 0 0 -18px;
}
.header-small #header #nav li.add{margin: 0 0 0 100px;}
.header-small #header #nav li{margin: 0 0 0 42px;}
.header-small #header #nav li:first-child{margin: 0 0 0 -40px;}
.slogan{
	padding: 200px 0 20px;
	margin: 0 0 250px;
	text-align: center;
	color: #fff;
	font:77px/91px 'politicalight', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	position: relative;
}
.slogan strong{
	font-weight: normal;
	display: block;
	font-family:'politicabold', Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
.slogan:after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin: 0 0 0 -82px;
	width: 164px;
	height: 11px;
	background: #fff;
}
.social-networks{
	text-align: center;
	margin: 0 0 50px;
	font-size: 0;
	line-height: 0;
}
.social-networks li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 50px;
	position: relative;
}
.social-networks li:after{
	content: '';
	position: absolute;
	left: -29px;
	top: 50%;
	margin: -3px 0 0;
	background: url(../images/sprite.png) -128px 0 no-repeat;
	width: 7px;
	height: 7px;
}
.social-networks li:first-child{margin: 0;}
.social-networks li:first-child:after{display: none;}
.social-networks a{
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/sprite.png) no-repeat;
}
.social-networks .facebook{
	width: 10px;
	height: 20px;
}
.social-networks .twitter{
	background-position: -52px -3px;
	width: 21px;
	height: 16px;
}
.social-networks .linkedin{
	background-position: -103px -1px;
	width: 18px;
	height: 18px;
}
.main{background: #fff;}
.first-page .main{background: none;}
.main>.m1{width: 100%;}
.main>.m1>.m2{
	max-width: 980px;
	margin: 0 auto;
	padding: 50px 0;
}
.pages-holder{
	outline: none;
}
.main-image{
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto 30px;
}
.main .section{
	width: 100%;
	margin: 0 0 20px;
}
.main .section:after{
	content: '';
	display: block;
	clear: both;
}
.main>.m1>.m2>h1{
	font-family: 'politicabold', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	padding: 0 0 6px;
	margin: 0 0 47px;
}
.main>.m1>.m2>h1:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	width: 104px;
	height: 6px;
	background: #000;
	margin: 0 0 0 -52px;
}
.two-columns{
	overflow: hidden;
	margin: 0 0 20px;
}
.two-columns .col{
	float: left;
	width: 48%;
}
.two-columns .col:first-child{margin: 0 4% 0 0;}
.banner{
	display: block;
	margin: 0 0 53px;
}
.banner img{
	display: block;
	width: 100%;
	height: auto;
}
.four-columns{
	overflow: hidden;
	margin: 0 0 31px;
	padding: 7px 0 0;
}
.four-columns .col{
	float: left;
	width: 22%;
	margin: 0 0 0 4%;
}
.four-columns .col:first-child{margin: 0;}
.col-heading{
	position: relative;
	padding: 0 0 20px;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 15px;
}
.col-heading:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 74px;
	height: 6px;
	background: #000;
}
.contact-box{
	float: left;
	width: 394px;
	padding: 19px 30px;
	border: 1px dashed #8a8a8a;
	position: relative;
	font-size: 20px;
	line-height: 24px;
	color: #000;
	margin: 13px 22px 0 0;
}
.contact-box:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 90px;
	margin: -45px 0 0 -3px;
	background: #cacaca;
}
.contact-box .contact-list{
	margin: 0;
	float: left;
	width: 180px;
}
.contact-box .contact-list li{margin: 22px 0 0;}
.contact-box .contact-list li:first-child{margin: 0;}
.contact-box .title{
	font-family: 'CalibriBold', Tahoma, Geneva, Arial, sans-serif;
	font-weight: normal;
	display: block;
}
.contact-box .other-contacts{
	float: right;
	width: 168px;
	padding: 9px 0 0;
}
.contact-box .phone{
	display: block;
	padding: 11px 0 0;
	font:38px/38px 'politicaregular', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 33px;
}
.contact-box .social-networks{
	padding: 15px 0 0;
	margin: 0;
	text-align: left;
}
.contact-box .social-networks li{margin: 0 0 0 41px;}
.contact-box .social-networks li:first-child{margin: 0;}
.contact-box .social-networks li:after{
	background: url(../images/sprite.png) -128px -25px no-repeat;
	left: -23px;
}
.contact-box .social-networks .facebook{background-position: 0 -25px;}
.contact-box .social-networks .twitter{background-position: -52px -28px;}
.contact-box .social-networks .linkedin{background-position: -103px -26px;}
.circle-box{
	float: left;
	font:24px/29px 'CalibriLight', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #000;
}
.circle-box .col{
	float: left;
	margin: 0 0 0 42px;
	width: 230px;
}
.circle-box .col:first-child{margin: 0;}
.circle-box .col .circle-image{margin: 0 0 5px;}
.circle-box .col .title{
	display: block;
	font-family:'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.technology-page .m1>.m2{
	max-width: none;
	margin: 0;
	background: #fff url(../images/bg-technology.jpg) 0 148px no-repeat;
	
}
.technology-section{
	max-width: 980px;
	margin: 0 auto;
	overflow: auto;
	padding: 100px 0 0;
}
.technology-section .frame{
	float: left;
	position: relative;
	z-index: 10000;
}
.technology-section .item{
	float: left;
	width: 312px;
	margin: 0 0 0 20px; 
}
.technology-section .item header{
	margin: 0 0 20px;
	min-height: 171px;
}
.technology-section .item:first-child{margin: 0;}
h2.technology-header{
	font:60px/60px 'politicaregular', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	color: #fff;
}
.technology-section .item header .btn{
	margin: 88px 0 0;
	border: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font: 18px/21px 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	vertical-align: top;
	padding: 2px 13px;
	opacity:0;
}
.technology-section .item header .btn:hover{
	text-decoration: none;
	background: #fff;
	color: #000;
}
.technology-section .item .description{
	color: #000;
	padding: 0 0 20px;
	position: relative;
	margin: 0 0 15px;
}
.technology-section .item .description:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 74px;
	height: 6px;
	background: #000;
}
.technology-section .item .description p{margin: 0;}
.projects-case{
	overflow: hidden;
	position: relative;
}
.case-info{
	float: right;
	width: 340px;
}
.case-info h1{
	font-size: 30px;
	line-height: 36px;
}
.case-description{
	border: 1px solid #d6d6d6;
	border-width: 1px 0;
	padding: 17px 0 0;
	font-size: 14px;
	line-height: 17px;
	margin: 0 0 18px;
}
.case-description p{margin: 0 0 17px;}
.case-description .title{
	display: block;
	color: #000;
	font:14px/17px 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 17px;
}
.case-images{
	float: left;
	padding: 9px 0 0;
	max-width: 615px;
}
.case-images img{
	margin: 0 0 40px;
	width: 100%;
	max-width: 100%;
	display: block;
	height: auto;
}
.case-navigate{
	overflow: hidden;
}
.case-navigate .prev,
.case-navigate .next,
.case-navigate .close{
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/sprite.png) no-repeat;
	width: 11px;
	height: 23px;
}
.case-navigate .prev{
	background-position: -140px 0;
	margin: 0 30px 0 0;
}
.case-navigate .next{background-position: -156px 0;}
.case-navigate .close{
	float: right;
	width: 22px;
	height: 23px;
	background-position: -172px 0;
}
.three-columns{
	width: 100%;
	padding: 0 0 30px;
}
.three-columns:after{
	content: '';
	display: block;
	clear: both;
}
.three-columns .col{
	float: left;
	width: 32%;
	margin: 0 0 0 2%;
}
.three-columns .col:first-child{margin: 0;}
.btn-square{
	display: inline-block;
	vertical-align: top;
	border: 2px solid #000;
	padding: 7px 9px;
	text-transform: uppercase;
	font:18px/21px 'CalibriBold', Tahoma, Geneva, Arial, Helvetica, sans-serif;
	color: #000;
}
.btn-square:hover,
.btn-square:active{color: #000;}
.btn-square:hover{
	text-decoration: none;
	background: #000;
	color: #fff;
}
.vacancy-image{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.vacancy-image .holder,
.vacancy-image .frame{
	position: relative;
	float: left;
	left: -50%;
}
.vacancy-image .frame{
	left: 50%;
	margin: 0 -70px;
}
/* NiceScroll positioning*/
#ascrail2001-hr.nicescroll-rails{
	margin: -290px 0 0;
}
.send-cv {
    display:block;
    width: 50%;
    margin:20px auto;
    height: 550px;
    padding-top: 100px;
    font: 14px tahoma, geneva, sans-serif;
}
.send-cv .form-row {
    margin: 20px 0;
    height: 30px;
}
.send-cv .form-row.msg {
    height: 200px;
}
.send-cv label {
    display: inline-block;
    width: 170px;
}
.send-cv .form-row span {
    display: inline-block;
    width: 250px;
    height: 100%;
}

.send-cv .form-row span input[type="text"], .send-cv span textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #888888;
}