#bg{display: none;}
body{background: #fff;}
body.main-page{
    background: url(../images/bg-body.jpg) no-repeat;
    background-size: 100% 100%;
}
.technology-section .frame{width: 2304px;}
.technology-section .item header .btn{
	opacity: 1;
}
.technology-section .item:hover header .btn{
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#ascrail2000-hr{
	margin: 263px 0 0;
}

@media only screen and (orientation : landscape) {
	body.main-page{
	    background-size: auto auto;
	}
}